@use "../../styles/variables.scss" as *;

.backlinks {
  flex-direction: column;

  & > h3 {
    font-size: 1rem;
    margin: 0;
    // 使用主题色-次级
    color: var(--secondary);
  }

  & > ul.overflow {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
    max-height: calc(100% - 2rem);
    overscroll-behavior: contain;

    & > li {
      & > a {
        background-color: transparent;
      }
    }
  }
}
